/* import google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#fff,#ddd,#f6f6f6);
}
#chatbot-toggler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #6D4FC2;
  align-items: center;
  justify-content: center;

}
#chatbot-toggler span{
  position: absolute;
  color: #fff;
}
.container.show-chatbot #chatbot-toggler{
  transform: rotate(90deg);
}

/* #chatbot-toggler span:last-child, */
.container.show-chatbot #chatbot-toggler span:first-child{
  opacity: 0;
}
.container.show-chatbot #chatbot-toggler span:last-child{
  opacity: 1;
}
.chatbot-popup {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  width: 420px; /* (small fix: px missing) */
  transform: scale(0.2);
  bottom: 90px;
  right: 35px;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.2s ease;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.container.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot-popup .chat-header{
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: blueviolet;


}
.chat-header .header-info{
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg{
  height: 35px;
  width:  35px;
  padding: 6px;
  flex-shrink: 0;
  fill:blueviolet;
  background: #ddd;
  border-radius: 50%;

}
.header-info .logo-text{
  color: #ddd;
  font-size: 1.31rem;
  font-weight: 600;

}
.chat-header button{
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #ddd;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;

}
.chat-header button:hover{
  background: blueviolet;

}
.chat-body{
 display: flex;
  flex-direction: column;   /* ✅ MUST */
  margin-bottom: 82px;
  gap: 20px;
  padding: 25px 12px;       /* pc ❌ → px ✅ */
  overflow-y: auto;
  height: 360px;

}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;

}
.chat-body .bot-message svg{
  height: 35px;
  width:  35px;
  padding: 6px;
  flex-shrink: 0;
  fill: white;
  align-self: flex-end;
  margin-bottom: 2px;
  background: blueviolet;
  border-radius: 50%;

}
.chat-body .message .message-text{

max-width: 75%;
padding: 12px 16px;
word-wrap: break-word;
white-space: pre-line;
font-size: 0.95rem;



}
.chat-body .bot-message .message-text{
  background: white;
  border-radius: 13px 13px 13px 13px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text{
  background: grey;
  color: #f6f6f6;
  border-radius: 13px 13px 13px 13px;
}
.chat-footer{
  position: absolute;
  bottom: 0 ;
  width: 100%;
  background: #fff;
  padding: 15px 22px  20px;


}
.chat-footer .chat-form{
  display: flex;
  align-items: center;
  border-radius: 32px;
  background: #fff;
  outline: 1px solid wheat;
  box-shadow: 0, 0,8px rgba(0,0,0,0.06);


}

.chat-footer .chat-form:focus-within{
  outline: 2px solid blueviolet;
}
.chat-footer .message-input{
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}
.chat-form button{
  height: 35px;
  width: 35px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: blueviolet;
  transition: 0.2s ease ;

}
.chat-form button:hover{
  background: blueviolet;
}


.chat-form .message-input:valid ~ button{
  display: block;
}
/* .continer{
  background-color: red;

  

}
.chatbot-popup{
  background-color: white;
}
.chat-header{
  background-color: orange;
}
.header-info{
  background-color: pink;
}
.logo-text{
  background-color: aqua;
} */